<nav class="nav">
    <ul class="nav_list">
      <li class="nav_list-item"><a href="/">Home</a></li>
      <li class="nav_list-item"><a href="/service">Our Service</a></li>
      <li class="nav_list-item"><a href="/contact">Contact us</a></li>
    </ul>
</nav>