<section class="workingTime">
    <div class="timeContainer">
        <img src="https://images.unsplash.com/photo-1497633762265-9d179a990aa6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8c2Nob29sfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" alt="school" srcset="">
        <h1><%= pageTitle %></h1>
        <p class="text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi dicta, labore hic animi ducimus aspernatur, corrupti molestias itaque similique praesentium necessitatibus a magni nobis ab doloremque, asperiores quae molestiae accusamus!
    </p>
    </div>
    
   
</section>