<%- include('includes/head.ejs') %>
</head>
<body>
  <%- include('includes/navigation.ejs') %>

<section class="workingTime">
    <div class="timeContainer">
      <img src="https://images.unsplash.com/photo-1589652717521-10c0d092dea9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" alt="error page">
      <h1>You typed it incorrectly!</h1>
      <p class="text">Don't worry we gat you covered, check out our <a href="/">Homepage</a> </p>
    </div>
  </section>

<%- include('includes/end.ejs') %>

